@media screen and (min-width: 1024px) and (max-width: 1599px) {
    /* todo: navbar css start */
    .nav-container {
        padding: 2.25rem 5.5rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* todo: navbar css start */
    .nav-container {
        padding: 2.25rem;
    }
    .nav-brand a {
        gap: 10px;
    }
    .nav-content ul {
        gap: 1.2rem;
    }
    .nav-brand a > span {
        font-size: 2.4rem;
    }
    .nav-content ul li a {
        font-size: 1rem;
    }
    .nav-icons {
        font-size: 1rem;
        padding: 0.875rem 1.2rem;
    }
}
@media screen and (max-width: 767px) {
    /* todo: navbar css start */
    .nav-container {
        gap: 3.75rem;
        flex-direction: column;
    }
    .nav-content ul {
        text-align: center;
        flex-direction: column;
    }
    .nav-icons {
        margin-top: 2rem;
        padding: 0.875rem 1.2rem;
    }
}
