@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Work Sans', sans-serif;
}
/* todo: Added Google font - Work sans */

/* todo: Some common/shared css */
:root {
    --special-color: #3c354f;
    --primary-color: #0b0223;
    --secondary-color: #534c64;
}
html {
    font-size: 16px;
}
* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
a {
    display: inline-block;
    text-decoration: none;
}
img {
    vertical-align: middle;
    width: 100%;
}
ul,
ol {
    list-style: none;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
/* todo: end of common/shared css */

/* todo: navbar css start */
.nav-container {
    display: flex;
    padding: 2.25rem 0;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-brand a {
    gap: 20px;
    display: flex;
    align-items: center;
}
.nav-brand a > span {
    font-weight: 700;
    font-size: 2.875rem;
}
.nav-brand a > span::first-letter {
    color: #ff42a5;
}

.nav-content ul {
    gap: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.nav-content ul li a {
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--primary-color);
}
.nav-icons {
    font-weight: 500;
    border-radius: 8px;
    font-size: 1.125rem;
    padding: 0.875rem 1.5rem;
    color: var(--primary-color);
    background-color: rgba(11, 2, 35, 0.1);
    align-items: center;
    display: flex;
}

.youtube-icon {
    font-size: 2rem;
    color: #f61c0d;
    margin: 0 1rem 0 1.5rem;
}
.tiktok-icon {
    color: #000;
    font-size: 1.25rem;
    text-shadow: 1px 1px 1px red, -1px -1px 1px #5ce1e6;
}
/* todo: navbar css end */

/* todo: banner css start */
#banner-part {
    background: linear-gradient(
        235.41deg,
        rgba(140, 87, 238, 0.025) 3.9%,
        rgba(241, 68, 174, 0.025) 100.56%
    );
    padding-top: 1.25rem;
}
.banner-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-text h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
    text-transform: uppercase;
    color: var(--primary-color);
}
.banner-text h1 > span {
    display: block;
    font-size: 6rem;
    font-weight: 800;
    line-height: 7rem;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-text ul > li {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
    grid-template-columns: 30px auto;
    display: grid;
    gap: 4px;
}
.banner-text ul li > i {
    color: #ff42a5;
    font-size: 1.125rem;
}
.banner-text .play-icon {
    width: 24px;
    height: 24px;
    font-size: 12px;
    padding-left: 2px;
    line-height: 21px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid var(--primary-color);
}
.banner-text .user-icon {
    color: var(--primary-color);
}
.banner-text .banner-btn > a {
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    border-radius: 3rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    padding: 1.25rem 2.5rem;
    background-color: #ff42a5;
}
.banner-text .banner-btn > .rogue-btn-color {
    background-color: #4ec5f7;
}
/* todo: banner css end */

/* todo: we're gamer part start */
.gamer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gamer-img-contents {
    display: flex;
    align-items: center;
}
.gamer-text-contents {
    width: 520px;
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 4.5rem 0 3.5rem;
}
.gamer-text-contents h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-text-contents p {
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.125rem;
    padding: 1.5rem 0 2rem;
    color: var(--secondary-color);
}
.gamer-text-contents > a {
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    border-radius: 3rem;
    background-color: #ff42a5;
    padding: 1.25rem 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    width: 13rem;
}
.gamer-text-contents h3 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.75rem;
    color: var(--secondary-color);
}
.gamer-text-contents h3 > span {
    font-size: 2rem;
    font-weight: 700;
    display: block;
}
/* todo: we're gamer part end */

/* todo: online game part start */
#online-game-part {
    padding: 4.5rem 0;
}
.online-game-heading {
    text-align: center;
    margin-bottom: 3rem;
}
.online-game-heading h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    color: var(--primary-color);
}
.online-game-heading h2 > span {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-game-heading p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: var(--secondary-color);
}

.online-game-inner {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card-img {
    position: relative;
}
.card-img-overly {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all linear 0.4s;
    transform: scale(0);
}
.card-img:hover .card-img-overly {
    transform: scale(1);
}
.card-text p {
    font-weight: 500;
    font-size: 1.25rem;
    padding-top: 1.5rem;
    line-height: 1.875rem;
    color: var(--secondary-color);
}
.card-img-overly a {
    color: #ff42a5;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.card-img-overly a > i {
    color: #fff;
    display: block;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* todo: online game part end */
